@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: rgba(11, 235, 97, 0.5);
  padding: 2rem;
  font-family: "Roboto Slab", serif;
}

.header {
  padding: 2rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70rem;
  height: 45rem;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-image: url(img/neda-astani-KWTkd7mHqKE-unsplash.webp);
}

.second_container {
  padding-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input {
  border: none;
  min-width: 40rem;
  min-height: 2rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 15px;
}

.input:focus {
  outline: none;
}

.button {
  border: none;
  background: #fafafa;
  color: gray;
  height: 2.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.button:hover {
  background: rgba(11, 235, 97);
  transition: all 0.5s;
  transform: scale(1.1);
}

.third_container {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
}

.weather-info > p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background-color: rgba(11, 235, 97);
  height: 4.5rem;
  width: 11.5rem;
  border-radius: 15px;
  font-size: 1.25rem;
  color: #fff;
  font-weight: bolder;
}

.celcius {
  font-size: 3rem;
  font-weight: bolder;
  padding: 1.5rem;
}

.weather-update {
  font-size: 1.5rem;
  color: black;
}

.container-opacity {
  opacity: 0;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
