*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}

.header {
  padding: 2rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40rem;
  height: 35rem;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
}

.second_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.input {
  border: none;
  min-width: 20rem;
  min-height: 2rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.input:focus {
  outline: none;
}

.button {
  border: none;
  background: #007bff;
  color: #fff;
  height: 2.5rem;
  width: 8rem;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #004bff;
  transition: all 0.5s;
}

.third_container {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 1.5rem;
}

.weather-info > p {
  padding: 1rem;
  background-color: aliceblue;
  height: 4.5rem;
  width: 9.5rem;
}

.celcius {
  font-size: 3rem;
  font-weight: bolder;
  padding: 1.5rem;
}

.weather-update {
  font-size: 1.5rem;
}

.container-opacity {
  opacity: 0;
}
